<nav class="nav-component">
  <div class="page-padding">
    <div class="nav-container" id="nav-container">
      <!-- brand logo -->
      <a href="/" class="nav-brand-link w-inline-block">
        <img
          src="../../img/digital-agency-logo.png"
          alt="logo"
          class="nav-brand-logo"
        />
      </a>

      <!-- Nav menu list -->
      <div class="nav-menu" id="nav-menu">
        <a href="/#" aria-current="page" class="nav-link w-inline-block">
          <div>Services</div>
        </a>
        <a href="/projects" class="nav-link w-inline-block">
          <div>Projects</div>
        </a>
        <a href="/#contact-section" class="nav-link w-inline-block">
          <div>Contacts</div>
        </a>
        <a href="/#" class="nav-link w-inline-block">
          <div>Reviews</div>
        </a>
      </div>

      <!-- Contact info -->
      <div class="contact-info-container" id="contact-info-container">
        <div class="column-bx">
          <div class="row-bx">
            <span class="iconify" data-icon="logos:whatsapp-icon"></span>
            <span class="iconify" data-icon="logos:telegram"></span>
            <p>Email</p>
          </div>
        </div>
        <div class="column-bx">
          <p>8 (842) 843 82 46</p>
          <p>
            <a href="mailto:Business@info.org" class="w-inline-block">
              Info@Business.org
            </a>
          </p>
        </div>
      </div>

      <div class="nav-menu-button">
        <svg
          id="toggle"
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
        >
          <path
            fill="#141414"
            d="M32.666 13.25H7.334a.5.5 0 0 1 0-1h25.332a.5.5 0 0 1 0 1zm0 7.25H7.334a.5.5 0 0 1 0-1h25.332a.5.5 0 0 1 0 1zm0 7.25H7.334a.5.5 0 0 1 0-1h25.332a.5.5 0 0 1 0 1z"
          />
        </svg>
      </div>
    </div>
  </div>
</nav>
