.nav-component {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
}

/* Change background color on scroll */
.nav-container.scrolled {
  background-color: #d9d9d9ed;
  transition: background-color 300ms ease;
}

/* Make navbar sticky on scroll */
.nav-component.sticky {
  position: fixed;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid var(--gray);
}

.nav-brand-logo {
  max-width: 18em;
  width: 15em;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 200ms;
}

.nav_link {
  color: var(--dark);
  text-decoration-color: initial;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0.55em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: var(--dark);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-link:hover {
  color: var(--primary);
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.column-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-info-container p {
  font-size: 16px;
}

.contact-info-container p a:hover {
  color: var(--primary);
}

.column-bx .row-bx .iconify {
  font-size: 18px;
}

/* Small Screen Nav */
.nav-menu-button {
  display: none;
  z-index: 999;
}

.nav-menu-button #toggle {
  position: relative;
  transform: scale(1.4);
  cursor: pointer;
}

#nav-menu.active,
#contact-info-container.active {
  left: 0px;
  opacity: 1;
  overflow-y: hidden;
}

@media screen and (max-width: 991px) {
  .nav-menu-button {
    display: block;
    width: 2.5em;
  }

  .nav-menu {
    opacity: 0;
    position: fixed;
    left: -600px;
    top: 0%;
    right: auto;
    bottom: 0%;
    min-height: 100vh;
    margin-top: -2.4em;
    padding-top: 8.5em;
    padding-right: 6em;
    padding-left: 4em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--dark);
    transition: 200ms ease-in-out;
  }

  .nav-link {
    margin-bottom: 2em;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--lightGray);
  }

  .contact-info-container {
    opacity: 0;
    position: fixed;
    left: -600px;
    right: auto;
    bottom: 5%;
    margin-left: 2em;
    color: var(--lightGray);
    transition: 200ms ease-in-out;
  }
}
